*.pyc
*/.neptune/*
*__pycache__/*
*last_ack*
*last_put_version*
data-1.log
None-*
metadata.json
benchmark/datasets/geometric shapes dataset/Circle
*Square*
*Triangle*
weights/GroundingDINO/*
weights/SAM/*
*.pkl
